body {
    background-color:rgb(230, 230, 223); /*Geeft de webpagina een aangepaste achtergrondkleur*/
}

h1 {
    text-align:center; /*Zet titel in het midden*/
    font-family:Georgia, 'Times New Roman', Times, serif; /*Verandert het lettertype van de titel*/
    color:rgb(35, 34, 32); /*Titel kleur*/
} 

h2 {
    font-family:Georgia, 'Times New Roman', Times, serif; /*Verandert het lettertype van de koptekst*/
    color:rgb(46, 45, 43); /*koptekst kleur*/
    margin:23px 0px 7px 15px; /*margin B:23px R:0px O:7px L:15px*/
}

p {
    font-family:Arial, Helvetica, sans-serif; /*Paragraaf tekst lettertype*/
    font-size:1.1em; /*1em is 16px, 16x1.1≃18px lettergrootte*/
    color:rgb(58, 56, 53); /*Paragraaf tekst kleur*/
    margin-left:3px; /*Geeft de paragraaftekst een inspringing van 2px vanaf de linker rand*/
    margin-right:30px; /*margin rechts op 30px*/
}

img {
    height:210px; /*'reguliere' fotos worden 210px hoog*/
    width:auto; /*zet breedte van foto op schaal met hoogte=210px*/
    border:7px solid rgb(218, 218, 215); /*gekleurde rand van 7px bij elke foto*/
    margin-left:10px; /*margin L:10px*/
 }
.png {
    background-color:rgb(255, 255, 255); /*fotos in class 'png' krijgen witte achtergrond*/
 }
.wijd {
    height:auto; /*zet breedte van foto in class 'wijd' op schaal met hoogte=700px*/
    width: 650px; /*fotos in class 'wijd' worden 650px lang*/
    margin-bottom:5px; /*zodat de wijde foto even hoog staat als de vid*/
    margin-left:5px ; /*linker margin 5px ipv 10 zodat hij dichter bij de vid staat*/
 }
.gedetailleerd {
    height:280px;
    width:auto;
 }
/*.rechts {
    float:right;
}*/

.video {
    margin-left:10px;
    margin-bottom:5px;
    border:7px solid rgb(218, 218, 215);
}

.bonanza {
    text-align:center;
}

ul {
    list-style-type:none; /*Zorgt ervoor dat er geen tekens voor de lijst-items staan*/
    position:static; /*bepaalt de positie van de lijst (vast bovenaan de pagina)*/
    overflow:hidden; /*Zorgt ervoor dat het menu een eigen regel heeft en niet naast de titel komt te staan*/
    margin:0; /*Zet de margin van de lijst op 0 (zorgt voor dunne bovenrand)*/
    padding:0; /*Zet de padding van de lijst op 0 (plaatst 1e lijst-item helemaal links)*/
    background-color:rgb(218, 218, 215); /*kleurt de balk rechts van het menu dezelfde kleur als het menu zelf*/
 }
li {
    float:left; /*plaatst de 'boxes' van het menu links*/
    border-right:4px solid rgb(230, 230, 223); /*Maakt een rand aan de rechter kant van elke box en geeft ze een kleur*/
    display:inline; /*plaatst de boxen naast elkaar ipv onder elkaar*/
 }
li a {
    display:block; /*zet een blok om het lijst-item heen*/
    padding:15px 17px; /*bepaald de grote van het blok (15px onder & boven, 17px links & rechts)*/
    background-color:rgb(218, 218, 215); /*bepaalt de achtergrondkleur van het blok*/
 }
a {
    font-family:Arial, Helvetica, sans-serif; /*bepaalt het lettertype van de lijst-items*/
    color:rgb(35, 34, 32); /*bepaalt de kleur van het lijst-item*/
    text-align:center; /*centreert het lijst-item in het blok*/
    text-decoration:none; /*haalt de standaard onderstreping weg bij de linkjes/lijst-items*/
    margin:0; /*voorkomt ongewensde verschuivingen*/
 }
li a:hover:not(.active) {
    background-color:rgb(222, 222, 217); /*Verandert de kleur van een lijst-blok wanneer je er met je muis overheen hangt, behalve als het lijst-item degene is van de pagina waarop je je bevindt*/
 }
.active {
    background-color:rgb(230, 230, 223); /*verandert de kleur van het lijst-item's blokje wanneer deze overeenkomt met de pagina waarop je je bevindt*/
}

footer {
    background-color:rgb(218, 218, 215);
    padding:3px;
    margin-top:30px;
 }
.foot {
    margin-left:15px; /*linker inspringing*/
    color:rgb(61, 60, 56); /*tekst kleur*/
    font-size:1em; /*houdt de tekst in de footer 1em ipv 1.1*/
}